@using xqmachine.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}


<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                                <li class="active" aria-current="page">
                                    Đăng nhập
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login">
    <div class="container">
        <div class="row d-xl-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-4 col-md-4">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 class="text-center">Đăng Nhập</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="default-form-box">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "text" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <a href="@Url.Action("ForgotPassword","Account")" style="font-weight:600;">Quên Mật Khẩu ?</a>
                        </div>
                        <div class="default-form-box">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="default-form-box">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover mb-4 w-100" style="height:45px;" type="submit">Đăng Nhập</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span>Chưa có tài khoản?</span><a href="@Url.Action("Register","Account")" style="font-weight:600;margin-left:5px;">Đăng ký</a>
                        </div>
                    }
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div>
<!-- ...:::: End Customer Login Section :::... -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}