@{
    ViewBag.Title = "Xác nhận đổi mật khẩu";
}

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                                <li class="active" aria-current="page">
                                    @ViewBag.Title
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login">
    <div class="container">
        <div class="row d-xl-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-4 col-md-4">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3 class="text-center">@ViewBag.Title</h3>
                    <hr />
                    <div class="d-flex justify-content-center">
                        <span>Chuyển về </span><a href="@Url.Action("Index","Home")" style="font-weight:600;margin-left:5px;">Trang chủ</a>
                        <span>Đăng nhập với tài khoảng </span><a href="@Url.Action("Login","Account")" style="font-weight:600;margin-left:5px;">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div>
<!-- ...:::: End Customer Login Section :::... -->